/*
####################################################
COMMON
#####################################################
*/
:root{
    --white: white;
    --lightblue: #b5ddff;
    --black: #111111;
    --blue: #0084fd;
    --yellow: #fdc15f;
    --purple: #9792e4;
    --darkgrey: #333333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}

.debug{
    border: 1px solid var(--black);
}

.container{
    max-width: 600px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

/*
####################################################
HEADER
#####################################################
*/
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    position: fixed;
}
.main-menu{
    display: none;
}

header a{
    color: var(--white);
    text-decoration: none;
}
header img{
    width: 80px;
}
/*
####################################################
MAIN
#####################################################
*/
#planning, #features, #start{
    background-color: var(--purple);
}
#intro{
    padding: 0 2rem;
}
.card{
    background-color: var(--lightblue);
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}



/*
####################################################
FOOTER
#####################################################
*/

footer{
    background-color: var(--darkgrey);
    padding: 1rem 2rem;
}

/*
####################################################
RESPONSIVE
#####################################################
*/
@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
    #intro .card{
        margin-right: 0.75rem;
        margin-left: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
}