/*
####################################################
COMMON
#####################################################
*/
:root{
    --white: white;
    --lightblue: #b5ddff;
    --black: #111111;
    --blue: #0084fd;
    --yellow: #fdc15f;
    --purple: #9792e4;
    --darkgrey: #333333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}
p{
    line-height: 1.5rem;

}
.debug{
    border: 1px solid var(--black);
}

.container{
    /*width: 600px;*/
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

/*
####################################################
HEADER
#####################################################
*/
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 1rem;
    width: 100%;
    margin-bottom: 50px;
    display: block;
}
.main-menu{
    display: none;
}

header a{
    color: var(--white);
    text-decoration: none;
}
header img{
    width: 80px;
}
header .fa-solid{
    color: white;
    font-size: 20px;
    margin-bottom: 1rem;
}
/*
####################################################
MAIN
#####################################################
*/
#planning, #features, #start{
    background-color: var(--purple);
}
#intro{
    padding: 0 2rem;
}
.card{
    background-color: var(--lightblue);
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
}

/* CARD SECT 1 */
.card-generals{
    width: 100%;
    display: flex;
}
.card-info, .card-img{
    width: 50%;
}
.card-info{
    padding: 0.5rem;
}
.card-img img{
    width: 100%;
    margin-top: 5.5rem;
}
.card h3{
    font-size: 20px;
    color: var(--blue);
    margin: 30px 0;
    text-align: center;
}

.card p{
    padding: 10px;
    margin: 30px 0;
    text-align: center;
}
.card-info p{
    text-align: left;
}
.card-info button{
    background-color: var(--blue);
    color: var(--white);
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}
.card .fa-solid{
    font-size: 40px;
    text-align: center;
    display: block;
    margin-top: 1em;
    color: var(--blue);
}

/*PLANNING 1*/
.planning1, .planning2{
    width: 50%;
    padding: 0.5rem;
}
.planning1 img{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.planning1 h3, .planning1 p{
    color: white;
    margin: 2rem 0;
}

/*PLANNING 2*/
.planning2{
    background-color: white;
    margin: 200px 20px 30px 30px;
    border-radius: 50px;
    padding: 2rem;
    text-align: center;
}
.planning2 img{
    width: 60%;
    margin-top: 5.5rem;
}
.planning2 h3, .planning2 p{
    color: black;
    margin: 1rem 0;
}

.planning2 button{
    background-color: var(--purple);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.planning2 .fa-down-long{
    color: black;
    font-weight: 600;
    font-size: 1rem;
}




/*
####################################################
FOOTER
#####################################################
*/

footer{
    background-color: var(--darkgrey);
    padding: 1rem 2rem;
}

/*
####################################################
RESPONSIVE 480px
#####################################################
*/
@media screen and (min-width: 480px){


}


/*
####################################################
RESPONSIVE 768px
#####################################################
*/
@media screen and (min-width: 768px){
    
    .container{
        max-width: 750px;
    }
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
    #intro .card{
        margin-right: 0.75rem;
        margin-left: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
}