/*
####################################################
COMMON
#####################################################
*/
:root{
    --white: white;
    --lightblue: #b5ddff;
    --black: #111111;
    --blue: #0084fd;
    --yellow: #fdc15f;
    --purple: #9792e4;
    --darkgrey: #333333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}

.debug{
    border: 1px solid var(--black);
}

.container{
    width: 600px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

/*
####################################################
HEADER
#####################################################
*/
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 1rem;
    width: 100%;
    margin-bottom: 50px;
    display: block;
}
.main-menu{
    display: none;
}

header a{
    color: var(--white);
    text-decoration: none;
}
header img{
    width: 80px;
}
header .fa-solid{
    color: white;
    font-size: 20px;
    margin-bottom: 1rem;
}
/*
####################################################
MAIN
#####################################################
*/
#planning, #features, #start{
    background-color: var(--purple);
}
#intro{
    padding: 0 2rem;
}
.card{
    background-color: var(--lightblue);
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
}

.card-generals{
    width: 100%;
    display: flex;
}
.card-info, .card-img{
    width: 50%;
}
.card-info{
    padding: 0.5rem;
}
.card-img img{
    width: 100%;
    margin-top: 5.5rem;
}
.card h3{
    font-size: 20px;
    color: var(--blue);
    margin: 30px 0;
    text-align: center;
}

.card p{
    padding: 10px;
    margin: 30px 0;
    text-align: center;
}
.card-info p{
    text-align: left;
}
.card-info button{
    background-color: var(--blue);
    color: var(--white);
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}
.fa-solid{
    font-size: 40px;
    color: var(--blue);
}
/*
####################################################
FOOTER
#####################################################
*/

footer{
    background-color: var(--darkgrey);
    padding: 1rem 2rem;
}

/*
####################################################
RESPONSIVE 480px
#####################################################
*/
@media screen and (min-width: 480px){


}


/*
####################################################
RESPONSIVE 768px
#####################################################
*/
@media screen and (min-width: 768px){
    
    .container{
        max-width: 750px;
    }
    
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
    #intro .card{
        margin-right: 0.75rem;
        margin-left: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
}